
html{
  scroll-behavior: smooth;
}



 .App{
  background: black;

 }
.conteiner {
  text-align: center;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  padding: 20px;
  color: #fff;
}

/* navigation */




.navbar {
  background-color: #333; 
  position: fixed; 
  top: -50px; 
  width: 100%;
  transition: top 0.3s;
  display: flex;
  justify-content: flex-end;

}

.navbar a:last-child {
   padding-right: 50px;
}

.navbar a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  padding: 15px 35px;
  font-size: 20px;
  font-family: 'Fira Code';
  text-decoration: none;
}

.navbar a:hover{
  background-color: #ddd;
  color: black;
}


 
/* section first */

.section-first{
   position: relative;
   height: 100vh;
}
.content{
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



main {
  padding: 20px;
}

.title , .little-description{
  font-family: 'Fira Code';
  letter-spacing: 1px;
  color:gray;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
  margin: 0 0 20px;
 
}
.subtitle{
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0 0 20px;
}

.name{
  font-size: 20px;
  line-height: 30px;
  text-align: start;
   padding: 10px;
   font-family: 'Fira Code', monospace;
   font-weight: 400;
}
h1, h2, h3 {
  margin-bottom: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Montserrat";
  letter-spacing: 5px;
}
.Description{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
/* section-2 */

.section-2{
  margin-bottom: 200px;
}

.myimage{
  display: flex;
  max-width: 340px;
  
  
}
.myimage img{
   width: 100%;
   padding: 30px 10px;
   border-left: 1px solid  white;
   border-top: 1px solid  white;
}
.title-for-about{
   text-align: start;
   line-height: 20px;

}
.about {
  max-width: 500px;
  font-size: 22px;
  text-align: start;
  color:gray;
  padding: 0px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* sectio-3 */


.skills ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 200px;
  
}

.skills li {
      font-weight: bold;
      padding-right: 15px;
      color:gray;
      margin: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  
}

/* section projects */

.projects-title{
  margin-bottom: 80px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1200px;
  margin-bottom: 100px;
  gap: 50px;
  
  
}
.card-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
 
  
}
.card p{
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  color: gray;
  text-align: start;
  margin-bottom: 40px;
}

.card img:hover {
  transform: scale(1.05);
 

}

.card img {
  max-width: 500px;
  width: 100%;
  transition: 0.7s;
  border: 1px solid gray;
  border-radius: 5px;
  object-fit: cover;

}

.card:nth-child(2n) a {
  order: 2;
     
}
.card:nth-child(odd){
  gap: 120px;
}

.card-button{
  text-decoration: none;
  color: rgb(76, 76, 243);
  font-size:18px;
}


.contact a{
  color: #fff;
  text-decoration: none;

}


/* footer */
 .contact{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 800px;
  justify-content:space-between;
  
}
.contact  .icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
 
  
}

.contact  .contactDescription {
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: start;
  display: flex;
  max-width: 300px;
  max-height: 130px;
  border-bottom: 1px solid  white;
  border-top: 1px solid white;
  padding: 10px;
  
}


.linkediniq{
  width: 50px;
  display: flex;
  margin: auto;
}

.linkediniq img {
  width: 100%;
  height: auto;
}

footer {
  
  padding: 20px;
  color: #fff;
}

@media screen and (max-width: 880px){
     .navbar{
      justify-content: center;
     } 
    
    .navbar a{
      font-size: 15px;
      padding:15px 20px;
    }
    .name{
      padding-top: 70px;
    }
   .content{
    top: 45%;
   }

  .title,.subtitle,.little-description{
      font-size: 20px;
      margin: 0;
    
    }
    .subtitle{
      font-size: 30px;
    }

    .section-2{
      margin-bottom: 50px;
    }

  .myimage img{
    max-width: 90%;
    justify-content: center;
    padding: 10px 10px;
  }
  .name{
    font-size: 30px;
  }
  .projects-title{
    margin-bottom: 40px;
  }
 .card{
    gap: 0;
    margin-bottom: 50px;
 }
  .card:last-child{
    margin-bottom: 150px;
    
  }
 .card:nth-child(odd){
    gap: 10px;
 }

  .card{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;   
  }
  .card:nth-child(2n) a {
    order: 0;
     
  }
  .card p{
    margin-bottom: 20px;
  }

  h1, h2, h3{  
    margin:10px 0;
  }
  .title-for-about{
    margin-bottom: 30px;
  }

  .about{
    font-size: 14px;
  }
  li{
    font-size: 14px;
  }
  .contact {
    justify-content: center;
  }
  .contactDescription{
    height: 300px;
    margin-bottom: 30px;   
    font-size: 14px;
   
  } 
} 

